.timeline-circle {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 10px;
  height: 10px;
  margin: auto;
    margin-top: auto;
  margin-top: 1em;
  color: #615a60;
  background-color: #615a60;
  background-repeat: no-repeat;
  border-radius: 50%;
  border: 6px solid #b59890;
  z-index: 2;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.1s;
}