:root {
    --bs-body-color: #61441f;
    --bs-body-bg: #ecdecc;
    --bs-border-width: 0px;
    --bs-link-color: #ff914d;
    --emt-bg-dark: #c99b6d;
    
}

.bio {
    background-color: var(--emt-bg-dark);
}

.image-container2 {
    position: relative;
    width: 100%;
    max-width: 100vw;
    /* Ensure the container doesn't exceed the viewport width */
    overflow: auto;
    height: 600px;
}

.image-container-bio {
    position: relative;
    width: 100%;
    max-width: 100vw;
    /* Ensure the container doesn't exceed the viewport width */
    overflow: auto;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 100vw;
    /* Ensure the container doesn't exceed the viewport width */
    height: auto;
    overflow: hidden;
    min-height: 600px;
}

.img-fluid {
    width: 100%;
    /* Make the image take up the full width of its container */
    height: auto;
}

.image-text {
    position: absolute;
    top: 35%;
    left: 40%;
    /* Center the text horizontally */
    transform: translate(-50%, -40%);
    /* Center the text vertically */
}

.image-text-bio {
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -40%);
    color: white;
}

.image-bio-buttons {
    position: absolute;
    top: 75%;
}

.hr-custom {
    border-width: 5px;
    border-color: var(--bs-link-color);
    opacity: initial;
    margin: 0%;

}

.button-custom {
    font-family: "Alegreya Sans SC", sans-serif;
    font-size: larger;
    color: var(----bs-body-color);
    text-transform: uppercase;
    border-color: var(----bs-body-color);
    border-style: outset;
    border-radius: unset;
    border-width: 1px;
}

.button-custom:hover {
    background-color: var(--emt-bg-dark);
    border-color: var(--emt-bg-dark);
}

.button-bio {
    font-size: larger;
    color: white;
    text-transform: uppercase;
    border-color: white;
    border-style: outset;
    border-radius: unset;
    border-width: 1px;
}

main {
    padding-top: 2em;
}

figcaption {
    font-size: smaller;
}

body {
    font-family: "Noto Sans", sans-serif;
}

h1 {
    font-family: "Roboto Serif", serif;
}

h2 {
    font-family: "Roboto Serif", serif;
}

h3 {
    font-family: "Roboto Serif", serif;
}

h4 {
    font-family: "Roboto Serif", serif;
}

nav {
    background-color: var(--emt-bg-dark);
}


.table {
    background-color: var(--bs-body-bg);
}

tbody {
    background-color: var(--bs-body-bg);
}

tr {
    background-color: var(--bs-body-bg);
}

th {
    background-color: var(--bs-body-bg) !important;
}

td {
    background-color: var(--bs-body-bg) !important;
}

footer {
    background-color: var(--emt-bg-dark);
}

.card {
    color: var(--bs-body-color);
}

.nav-item {
    font-size: x-large;
}

.navbar-brand {
    color: var(--bs-body-color);
    font-family: "Roboto Serif";
    font-size: xx-large;
}

a {
    color: var(--bs-link-color)
}

a:hover {
    color: var(--emt-bg-dark)
}

#languageSwitcher {
    max-width: 10%;
}

.container-md {
    max-width: 800px;
}

.footnotes {
    padding-bottom: 1em;
}

/*** calendar ***/


.col-xs-6 {
    width: auto;
}

#years-table .btn-light:focus,
#years-table .btn-light.focus {
    text-decoration: underline;
    text-decoration-color: #A63437;
    text-decoration-thickness: 4px
}

.yearbtn {
    padding: 2px;
    font-size: 0.9rem;
    border: none;
    background-color: transparent;
}

.overlay {
    border: rgba(124, 124, 124, .2) 1px solid;
    background-color: rgba(245, 234, 37, .5);
    margin: -15pt;
    padding: 12pt;
}


/* linebreak-layout */

.transcript-line {
    display: flex;
    flex-flow: row nowrap;
}

.transcript-line-number {
    flex: 0;
}

.transcript-line-contents {
    flex: 1;
}

.transcript-line.active {
    background-color: rgba(245, 234, 37, .5);
}


/* linenumbers */

.linenumbers {
    margin: 0 1.5em 0 0;
}

.linenumbersTransparent {
    color: transparent;
}

.linenumbersVisible,
.active .linenumbersTransparent {
    color: #444;
}


.regest-text {
    font-style: italic;
}

.entity {
    border-radius: 0.5rem;
    padding: 0 0.3rem;
}

.entity-person {
    background-color: #efe1dc;
}

.entity-place {
    background-color: #fbd6d0;
}

.entity-org {
    background-color: #ffedcc;
}

.supplied {
    background-color: #f2f2f2;
    color: #185de7;
}

.abbr {
    color: #185de7;
}

.add {
    color: #185de7;
}

.unclear {
    color: #378ab8;
}

.date {
    color: #d45121;
}

.unclear-ciphered {
    font-style: italic;
    color: #378ab8;
}

.seg-blackening {
    text-decoration: line-through;
    color: #185de7;

}

.image-list-flex-row {
    display: flex;
    flex-flow: row wrap;
    align-items: flex-start;
    justify-content: space-around;
}

.image-list-flex-row>* {
    width: min(400px, 100%);
}

.dropdown-item-text {
    display: block;
    padding: 0.25rem 1rem;
    font-weight: bold;
}

div#map {
    height: 50vh;
}